.sidebar {
  width: 230px;
  background: #111827;
  color: #ffffff;
  padding: 20px 12px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;
  margin-bottom: 8px;

  color: #c7cdd9;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 500;

  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background: #1f2937;
  color: #ffffff;
  transform: translateX(6px);
}

.sidebar-link.active {
  background: linear-gradient(135deg, #6f42c1, #8250df);
  color: #ffffff;
  box-shadow: 0 6px 18px rgba(111, 66, 193, 0.45);
}
